@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* General CSS */
.header-right {
  width: calc(100% - 3.5rem);
}
.sidebar:hover {
  width: 16rem;
}
@media only screen and (min-width: 768px) {
  .header-right {
    width: calc(100% - 16rem);
  }
}

/* General sidebar CSS */
.logo-icon {
  @apply w-7 h-7 md:w-10 md:h-10 mr-2 rounded-md overflow-hidden;
}

.home-title {
  @apply hidden md:block;
}

.hidden-text {
  @apply px-5 hidden md:block;
}

.title-container {
  @apply flex flex-row items-center h-8;
}

.footer-copyright {
  @apply mb-14 px-5 py-3 hidden md:block text-center text-xs;
}

.nav-right-main {
  @apply flex items-center ml-auto;
}

/* Trainer CSS */

.tr-container-left {
  @apply min-h-screen flex flex-col flex-auto flex-shrink-0 antialiased bg-white dark:bg-gray-700 text-black dark:text-white;
}

.tr-container-right {
  @apply fixed w-full flex items-center justify-between h-14 text-white z-10;
}

.tr-header-left {
  @apply flex items-center justify-start md:justify-center pl-3 w-14 md:w-64 h-14 bg-gray-600 dark:bg-gray-800 border-none;
}

.tr-header-right {
  @apply flex justify-between items-center h-14 bg-gray-600 dark:bg-gray-800 header-right;
}

.tr-welcome-container {
  @apply flex items-center justify-center w-full max-w-xl mr-4 p-2;
}

.tr-nav-container {
  @apply flex items-center mr-4 hover:text-blue-100;
}

.tr-nav-flex {
  @apply inline-flex mr-1;
}

.tr-sidebar-container {
  @apply fixed flex flex-col top-14 left-0 w-14 hover:w-64 md:w-64 bg-gray-700 dark:bg-gray-900 h-full text-white transition-all duration-300 border-none z-10 sidebar;
}

.tr-sidebar-flex {
  @apply overflow-y-auto overflow-x-hidden flex flex-col justify-between flex-grow;
}

.tr-sidebar-set {
  @apply flex flex-col py-4 space-y-1;
}

.tr-sidebar-title {
  @apply text-sm font-light tracking-wide text-gray-400 uppercase;
}

.tr-container {
  @apply relative flex flex-row items-center h-11 focus:outline-none hover:bg-gray-600 dark:hover:bg-gray-600 text-white hover:text-white border-l-4 border-transparent hover:border-blue-500 pr-6;
}

.tr-row {
  @apply inline-flex justify-center items-center ml-4;
}

.tr-sidebar-text {
  @apply ml-2 text-sm tracking-wide truncate;
}

/* Customer CSS */
.cs-header-left {
  @apply flex items-center justify-start md:justify-center pl-3 w-full md:w-64 h-14 bg-blue-200 text-black border-none;
}

.cs-header-right {
  @apply flex justify-between items-center h-14 bg-blue-200 text-black header-right;
}

.cs-container-right {
  @apply fixed w-full flex items-center justify-between h-14 text-white z-10;
}

.cs-container-left {
  @apply min-h-screen flex flex-col flex-auto flex-shrink-0 antialiased bg-white text-black;
}

.cs-welcome-container {
  @apply flex items-center justify-center w-full max-w-xl mr-4 p-2;
}

.cs-nav-container {
  @apply flex items-center mr-4 hover:text-blue-600;
}

.cs-nav-flex {
  @apply inline-flex mr-1;
}

.cs-nav-format {
  @apply inline-flex mr-1;
}

.cs-sidebar-container {
  @apply fixed flex flex-col top-14 left-0 w-14 hover:w-64 md:w-64 bg-blue-400 dark:bg-gray-900 h-full text-white transition-all duration-300 border-none z-10;
}

.cs-sidebar-flex {
  @apply overflow-y-auto overflow-x-hidden flex flex-col justify-between flex-grow;
}

.cs-sidebar-set {
  @apply flex flex-col py-4 space-y-1;
}
.cs-container {
  @apply relative flex flex-row items-center h-11 focus:outline-none hover:bg-blue-200 text-white hover:text-black border-l-4 border-transparent hover:border-gray-600 dark:hover:border-gray-800 pr-6;
}

.cs-row {
  @apply inline-flex justify-center items-center ml-4;
}

.cs-sidebar-title {
  @apply text-sm font-light tracking-wide uppercase;
}

.cs-sidebar-text {
  @apply ml-2 text-sm tracking-wide truncate whitespace-normal;
}
.cs-main-component {
  margin-left: 256px;
  margin-top: 56px;
  padding: 25px 50px 50px
}

.welcome-text {
    font-family: 'Dancing Script', cursive;
    font-size: 80px;
    margin-bottom: 30px;
}

.gamma {
  font-size: 2rem; /* 36 / 18 = 2 */
  margin-bottom: 0.825rem;
}

.lato{font-family: 'Lato'}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1
}

/* ##########OLD CODE##############
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
